@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
.clear-both:after {
    clear: both;
    display: block;
    content: "";
}
.margin-auto {
    margin: auto;
}
ul.pagination li {
    padding: 10px;
}
ul.pagination li.active {
    border-block-end: 1px solid #000;
}
ul.pagination li.disabled {
    display: none;
}
header {
    background-color: #BCDEFA;
}
.wrapper {
    width: 100%;
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}
h1.logo {
    background-image: url(../images/components/logo.png);
    background-size: 80px auto;
    background-repeat: no-repeat;
    text-indent: -10000px;
    float: left;
    height: 80px;
    width: 180px;
    margin: 0;
}

header nav {
    float: right;
}

header nav h2 {
    text-indent: -10000px;
    margin: 0;
    height: 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    background-color: #BCDEFA;
    float: left;
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
    line-height: 80px;
    padding: 0px 20px;
}

header nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

header nav ul li a:focus ~ ul.hav-sub-nav {
    max-height: 400px;
    -webkit-transition: max-height 0.4 ease-in;
    -moz-transition: max-height 0.4 ease-in;
    transition: max-height 0.4 ease-in;
}

header nav li.dropdown-divider {
    margin: 0;
    padding: 1px;
}

ul.hav-sub-nav {
    display: none;
    position: absolute;
    z-index: 100;
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 10px 18px #888888;
}

header nav li:hover ul.hav-sub-nav {
    display: block;
}

ul.hav-sub-nav li {
    background-color: #BCDEFA;
    float: none;
    padding: 2px;
}

ul.hav-sub-nav li:last-of-type {
    border-radius: 0 0 5px 5px;
}

ul.hav-sub-nav li a {
    line-height: 40px;
    padding: 0 20px;
    width: 180px;
}

ul.hav-sub-nav li a:hover {
    text-decoration: underline;
}

header nav i.material-icons {
    position: relative;
    top: 5px;
}

form {
    width: 100%;
}

label {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
}

a {
    font-weight: bold;
    color: #000;
}

a:hover {
    text-decoration: none;
}

.footer {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    color: #000;
    text-align: center;
    background-color: #BCDEFA;
}

}
.footer a {
    text-decoration: underline;
}

.footer p {
    margin: 0;
}
.home-room-guestspacing {
    color: #DF0101;
}

/*diary*/
.title-page {
    padding: 40px 0;
    letter-spacing: .08em;
    margin: 0;
}
.title-page,
.title-section {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}
.thumb-article__date {
    color: #7e7e7e;
    font-size: 14px;
    letter-spacing: .04em;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
}
.thumb-article__title {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .08em;
    line-height: 1.4;
    padding-bottom: 30px;
    margin: 0 0 30px;
    position: relative;
    color: #e14646;
}
.thumb-article__title:after {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #e14646;
    bottom: 0;
}
.thumb-article__title a:hover {
    color: #F78181;
}
.thumb-article__excerpt {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 23px;
    color: #000000;
}
.diary_article__title {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: .08em;
    line-height: 1.4;
    padding-bottom: 30px;
    margin: 0;
    position: relative;
    color: #e14646;
}
.trip-diary-time {
    font-size: 14px;
    font-style: italic;
    color: #6E6E6E;
}
.trip-diary-end {
    font-style: italic;
}

/*comment*/
.text-over-flow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-h1-spacing {
    margin-top: 18px;
}
.form-spacing-top {
    margin-top: 30px;
}
.form-spacing-top-8 {
    margin-top: 8px;
}
.comment-title {
    margin-bottom: 45px;
}
.comment-title>span {
    margin-right: 15px;
}
.comment {
    margin-bottom: 45px;
}
.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.author-name {
    float: left;
    margin-left: 15px;
}
.author-name h4 {
    margin: 5px 0px;
}
.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}
.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.5em;
}

/*content*/
img.img-responsive {
    width: 100%;
}
.alert {
    border-radius: 0 0 .5rem .5rem;
}
.margin-content {
    padding: 10px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-r-40 {
    margin-right: 40px;
}
.m-r-50 {
    margin-right: 50px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-b-50 {
    margin-bottom: 50px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-l-40 {
    margin-left: 40px;
}
.m-l-50 {
    margin-left: 50px;
}
.p-r-10 {
    float: right!important;
    right: 10px;
}
.p-r-20 {
    float: right!important;
    right: 20px;
}
.p-r-30 {
    float: right!important;
    right: 30px;
}
.p-r-40 {
    float: right!important;
    right: 40px;
}
.btn-submit-green-color {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.show {
    display: block;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.fileupload {
    margin-bottom: 9px;
}
.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
}
.fileupload .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}
.fileupload .thumbnail>img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}
.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gallery .box {
    position: relative;
    width: 230px;
    height: auto;
}
.gallery .box.show {
    width: 33.33%;
}
.gallery .box.diary {
    width: 25%;
}
.gallery .box.home {
    width: 300px;
}
.gallery .box .img-box {
    position: relative;
    overflow: hidden;
}
.gallery .box .img-box img {
    max-width: 100%;
    transition: 1s;
}
.gallery .box:hover .img-box img {
    filter: grayscale(0);
    transform: scale(1.2);
}
.rooms .create, .rooms .show ul.nav.nav-tabs li {
    font-size: 18px;
    padding: 10px;
}

.rooms .create li {
    border-bottom: 1px solid #ccc;
    margin-block-end: 12px;
}

.rooms .create li .active:before {
    content: "* ";
}

.rentals .rental_info li {
    margin: auto 5px;
    margin-block-end: 12px;
}
.nav.myroom-lists li {
    width: 100%;
    background-color: #ccc;
    padding: 5px 5px;
    margin: 5px 0px;
}

.rental_info li.active {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
.diaries .mydiaries .card-title {
    padding-top: 5px;
}
.backend-comment {
    width: 100%;
}

span.use_as_home_thum {
    position: absolute;
    top: 8px;
    left: 55%;
    font-size: 22px;
    color: #fff;
    background: rgb(255, 56, 96);
    border-radius: 5px;
    padding: 8px;
}

.with-trash {
    position: absolute;
    top: 6%;
    right: 5%;
    z-index: 100;
    color: #000;
    background: #fff;
    border-radius: 5%;
    font-size: 20px;
    width: 3rem;
}
/*review star*/
.star-rating {
    padding: 20px;
    direction: rtl;
}
.star-rating input[type='radio'] {
    display: none;
}
.star-rating label {
    color: #bbb;
    font-size: 22px;
    cursor: pointer;
    transition: color .3s ease-in-out
}
.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type='radio']:checked~label {
    color: #f2b600;
}
#map-canvas {
    width: 100%;
    height: 300px;
}
